{% extends 'base.html' %}


{% block content %}
    <div class='home-page'>
      {% if request.user.is_authenticated %}
        <h1>Welcome back, {{ request.user.username }}! 👋</h1>
        <p class='text-muted'>Check who's free right now.</p>
          <div class="d-flex justify-content-center gap-3 flex-wrap">

            <!-- Go To Feed -->
            <a href="{% url 'feed' %}" class="btn btn-dark btn-lg">
                🟢 Open Feed
            </a>

            <!-- Interests -->
            <a href="{% url 'update_interests' %}"
               class="btn btn-outline-dark btn-lg">
                ✏️ My Interests
            </a>

        </div>
      {% else %}
        <h1>Hamro Batgat 👥</h1>
        <p class='lead text-muted'>See who among your friends is free right now.</p>
        <div class="link-btn-wrapper">
          <a href='{% url "register" %}' class='btn btn-dark btn-lg me2'>Join Now</a>
          <a href='{% url "login" %}' class='btn btn-outline-dark btnlg'>Login</a>
        </div>
      {% endif %}
    </div>
{% endblock %}
